/* more_information.css */

/* Gaya untuk judul */
h3 {
    color: #333;
    margin-bottom: 20px;
}

/* Gaya untuk Accordion */
.accordion-button {
    background-color: #007bff;
    color: #fff;
}

.accordion-button:not(.collapsed) {
    background-color: #0056b3;
}

.accordion-button::after {
    filter: invert(1);
}

/* Gaya untuk panduan penggunaan dan kebijakan privasi */
ol {
    padding-left: 20px;
}

ol li {
    margin-bottom: 10px;
    color: #555;
}

p {
    color: #555;
}
